<div class="wrapper-1">
  <!-- Header starts-->
  <app-header></app-header>
  <!-- Header ends-->

  <!--Main view-->
  <div class="main-container-1">
    <main role="main" class="main-content-1">
      <div class="main-container">
        <h2 class="homepage-heading-1">Homepage</h2>
        <!-- Wrapper-->
        <app-wrapper></app-wrapper>
        <!-- Wrapper Ends-->
      </div>
    </main>
  </div>
  <!--Main view ends-->
  <!-- Footer starts-->
  <app-footer></app-footer>
  <!-- Footer ends-->
</div>
