@import "../../../styles/variables";

:host {
  width: 30vw;
}
.search {
  border: 0.5px solid black;
  border-radius: 4px;
  background: $beige;
  display: flex;
  justify-content: space-between;

  input {
    width: 100%;
    padding: 15px 10px;
    border: 0px transparent;
    background-color: inherit;
    border-radius: inherit;
  }
}
.search input,
:focus-visible {
  outline: none;
}
#search-btn {
  border: 0px transparent;
  background-color: inherit;
  border-radius: inherit;
}
