<div class="page-center">
  <h1 class="homepage-heading">Homepage</h1>
  <form class="search-category" id="search-category-form">
    <!--Search component-->
    <app-search></app-search>
    <!--Search component ends-->

    <!-- FILTER CATEGORIES -->
    <app-filter></app-filter>
    <!--filter component ends-->
  </form>
  <!--Books-->
  <div class="books" id="books">
    <!--single book-->
    <app-book [book]="books[0]"></app-book>
    <!--single book end-->
    <app-book [book]="books[1]"></app-book>
    <app-book [book]="books[2]"></app-book>
    <app-book [book]="books[3]"></app-book>
    <app-book [book]="books[4]"></app-book>
    <app-book [book]="books[5]"></app-book>
  </div>
  <!--Books end-->
  <!-- Page Numbers starts-->
  <app-pagination></app-pagination>
  <!-- Page Numbers ends-->
</div>
