@import "../../styles/variables";

.page-center{
  position: relative;
}

.search-category {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 10px auto;
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: transparent;
  width: 79vw;
}
