<article class="book-content">
  <h3 class="book-heading">{{ book.title }}</h3>
  <div class="all-description">
    <img src="{{ book.imgSrc }}" alt="{{ book.title }}" class="img" />
    <div class="description">
      <h4 class="author">
        {{ book.author }}, <span>{{ book.year }}</span>
      </h4>
      <p class="book-category">{{ book.category }}</p>
      <p class="book-description">{{ book.description }}</p>
      <a href="#1" class="book-btn">Book Overview</a>
    </div>
  </div>
</article>


<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="book-heading">{{ book.title }}</mat-card-title>
      <mat-card-subtitle class="author">{{ book.author }}</mat-card-subtitle>
      <mat-card-subtitle>{{ book.year }}</mat-card-subtitle>
      <mat-card-subtitle class="book-category">{{ book.category }}</mat-card-subtitle>
      <img class="img" mat-card-lg-image src="{{ book.imgSrc }}" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="book-description">
    {{ book.description }}
  </mat-card-content>
  <mat-card-content class="book-btn"></mat-card-content>
</mat-card> -->
