<div class="wrapper-2">
  <form class="search-category-1" id="search-category-form">
    <!--Search component-->
    <app-search></app-search>
    <!--Search component ends-->

    <!-- FILTER CATEGORIES -->
    <app-filter></app-filter>
    <!--fiter component ends-->
  </form>
  <!--Books-->
  <div class="books" id="books">
    <!--single book-->
    <app-book></app-book>
    <!--single book end-->
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
  </div>
  <!--Books end-->
  <!-- Page Numbers starts-->
  <app-pages></app-pages>
  <!-- Page Numbers ends-->
</div>
