<article class="book-content" appBookBackground [category]="book.category">
  <h3 class="book-heading">{{ book.title | titlecase }}</h3>
  <div class="all-description">
    <img src="{{ book.imgSrc }}" alt="{{ book.title }}" class="img" />
    <div class="description">
      <h4 class="author">
        {{ book | fullName }}, <span>{{ book.year | date: "yyyy" }}</span>
      </h4>
      <p class="book-category">{{ book.category }}</p>
      <p class="book-description">{{ book.description }}</p>
      <a class="book-btn" [routerLink]="['/book', book.id]">Book Overview</a>
      <br>
      <a class="book-btn" (click)="onDelete()">Delete</a>
      <br>
      <a class="book-btn" (click)="onSoftDelete()">Soft Delete</a>
    </div>
  </div>
</article>

