@import "../../../styles/variables";

:host {
  width: 30vw;
}

.filter {
  border: 0.5px solid black;
  border-radius: 4px;
  width: 100%;
  background: $beige;
}

::ng-deep {
  .mat-select-panel {
    background-color: $beige;
  }
  .mat-form-field-wrapper {
    padding: 0px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0px;
  }
  .mat-form-field-underline {
    bottom: 0px;
  }
}
