<p>Task 1.</p>
<button (click)="trackTimer()">Track Timer</button>
<hr />
<br />
<p>Task 2.</p>
<label for="searhInput">Search Input:</label>
<input type="text" id="searchInput"/>
<hr />
<p>Task 3.</p>
<input #box1 (keyup.enter)="onEnter(box1.value)" />
<br />
<br />
<input #box2 (keyup.enter)="onEnter(box2.value)" />
<hr />
<p>Task 4.</p>
<button id="forkJoinApis" (click)="forkJoinApis()">Fork Join</button>
<hr />
<p>Task 7.</p>
<button (click)="startTimer()">Start Timer</button>
<br />
<div>Timer Value: {{ timerValue }}</div>
<br />
<button (click)="stopTimer()">Stop Timer</button>
