@import "../../../styles/variables";

.sidenav-content {
  background-color: rgba($black, 0.5);
  height: 80%;
  width: 80%;
}

.sidenav-list {
  font-size: 20px;
  color: $brown;
}

.example-container {
  width: 100%;
  height: calc(205vh - 115vh);
  background-color: transparent;
}

