<div class="sidebar-container">
  <div class="sidebar-nav">
    <nav>
      <ul>
        <li>
          <div
            class="sidebar-btn"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon class="sidebar-icons">home</mat-icon>
            <p class="sidebar-btn-text">homepage</p>
          </div>
        </li>
        <li></li>
        <li>
          <div class="sidebar-btn" (click)="onToggle()">
            <mat-icon class="sidebar-icons">reorder</mat-icon>
            <p class="sidebar-btn-text">Categories</p>
            <mat-icon class="sidebar-icons">arrow_right</mat-icon>
          </div>
        </li>
        <li>
          <div class="sidebar-btn">
            <ul *ngIf="category">
              <li
                class="categories-sidebar"
                *ngFor="let category of categoriesList"
                [value]="category"
              >
                <a
                  [routerLink]="['/category', category.name]"
                  routerLinkActive="active"
                  >{{ category.name }}</a
                >
              </li>
            </ul>
          </div>
        </li>
        <ng-container *ngIf="isAdmin">
          <li>
            <div class="sidebar-btn" (click)="onClick()">
              <mat-icon class="sidebar-icons">verified_user</mat-icon>
              <p routerLink="admin" class="sidebar-btn-text">Admin</p>
              <mat-icon class="sidebar-icons" [ngClass]="{ rotate: adminValue }"
                >chevron_right</mat-icon
              >
            </div>
          </li>
          <li>
            <div class="sidebar-btn">
              <ul *ngIf="adminValue">
                <li class="categories-sidebar" *ngFor="let admin of adminList">
                  <a
                    [routerLink]="['/admin', admin.path]"
                    routerLinkActive="active"
                    >{{ admin.linkName }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</div>
