<app-headline text="Admin/Books">Admin/Books</app-headline>
<p>Books</p>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="books">
    <ng-container *ngFor="let column of columns">
      <ng-container [matColumnDef]="column.name">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.title }}
        </th>
        <td mat-cell *matCellDef="let book">
          <ng-container [ngSwitch]="column.name">
            <ng-container *ngSwitchCase="'review'">
              <span [matTooltip]="book.review">{{ book.review }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'imgSrc'">
              <img [src]="book[column.property]" [alt]="book.title" />
            </ng-container>
            <ng-container *ngSwitchCase="'description'">
              <button (click)="readMore(book)">Read more</button>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ book[column.property] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[6, 12, 24]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<div class="single-book-button">
  <a routerLink="/" class="book-overview admin-book-btn">Add new Book</a>
</div>
