<!-- <div class="books-numbers">
  <ul class="list">
    <li>Rows per page:</li>
    <li>
      <a href="#"
        >6&emsp;<i class="fa-sharp fa-solid fa-caret-down"></i
      ></a>
    </li>
    <li>1-6 of 104</li>
    <li class="page-arrow-left">
      <i class="fa-solid fa-chevron-left"></i>
    </li>
    <li class="page-arrow-right">
      <i class="fa-solid fa-chevron-right"></i>
    </li>
  </ul>
</div> -->

<mat-paginator [length]="100" [pageSizeOptions]="[6, 12, 18]" aria-label="Select page">
</mat-paginator>
