@import "../../../../app/styles/variables";


.mat-paginator {
  width: 200vw;
  color: rgb(219, 215, 198);
  background-color: transparent;
}

.mat-select-arrow,
.mat-select-value,
.mat-select-panel {
  color: blue;
}

:host ::ng-deep {
  .mat-paginator{
    .mat-select-value {
      color: $fieldBackground;
    }
  }
}
