@import "../../../../app/styles/variables";


.mat-paginator {
  width: 400px;
  margin-right: 200px;
  position: absolute;
  bottom: 20;
  right: 0;
  margin-bottom: 10px; /* adjust as needed */
  margin-right: 54px;
  color: rgb(219, 215, 198);
  background-color: transparent;
}

.mat-select-arrow,
.mat-select-value,
.mat-select-panel {
  color: blue;
}
