@import '../../../../app/styles/variables';

.homepage-heading {
  color: $fieldBackground;
  font-size: 25px;
  font-weight: 700;
}

.search-category {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px auto;
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: transparent;
  width: 79vw;
  justify-content: center;
}

.main-content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}
