<ng-container *ngIf="singleBook; else bookNotFound">
  <div class="single-book-container">
    <div class="single-book-box">
      <h1 class="single-book-title">Book Overview-{{ singleBook.title }}</h1>
      <div
        class="single-book"
        appBookBackground
        [category]="singleBook.category"
      >
        <h2>{{ singleBook.title | titlecase }}</h2>
        <div class="single-book-content">
          <div class="single-book-img">
            <img [alt]="singleBook.alt" [src]="singleBook.imgSrc" />
          </div>
          <div
            class="single-book-text"
            appBookBackground
            [category]="singleBook.category"
          >
            <p class="single-book-id">BookID:{{ singleBook.id }}</p>
            <p class="bold-text">
              {{ singleBook | fullName | titlecase }},
              <span>{{ singleBook.year | date : "yyyy" }}</span>
            </p>
            <p>Contry:USA</p>
            <p>{{ singleBook.category }}</p>
            <p>ISBN:1234567890</p>
            <p class="single-book-paragraf">
              {{ singleBook.description }}
            </p>
            <p class="bold-text">
              Nina Bandzin<span class="normal-text">USA</span>
            </p>
            <p class="single-book-paragraf">
              "Fantastic book!I absolutly love this essey collection.Guess I'm
              into colections right now.i had to read it with tissue in my hand
              because in manz parts i would tear up from trying to hold my
              laughter"
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="single-book-button">
  <a routerLink="/" class="book-overview single-book-btn">close</a>
</div>

<ng-template #bookNotFound>
  <app-headline text="Book not found"></app-headline>
</ng-template>
